@import "./variables";
@import "./cards";
@import "./sidebar";
@import "./weathers";

body {
  background-color: #000;
}

.ae-head {
  background-image: url(../img/title.jpg);
  height: 400px;
  @include background();
  margin: 10px;
  padding: 10px;
  h1 {
    background: #00ff00;
    background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    background: #000000;
    background: linear-gradient(to left, #000000 0%, #ffffff 50%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.current-city {
  height: 500px;
  width: calc(65% - 50px);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: aqua;
  @include background;
  overflow: hidden;
  h1 {
    @include currentGradient;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    align-self: flex-start;
    position: absolute;
    left: 0;
    top: 0;
  }
  p {
    @include currentGradient;
    font-size: x-large;
    justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#uvi {
  font-size: x-large;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}
#futureWeather {
  @include cardGradient;
  font-weight: 800;
}
