@import "./variables";
@import "./cards";
@import "./sidebar";
@import './weathers';

body {
  background-color: black;
}

.ae-head {
  background-image: url(../img/aurora.jpg);
  height: 400px;
  @include background();
  margin: 10px;
  padding: 10px;
  h1 {
    color: $neonGreen;
  }
  h4 {
    color: $teal;
  }
}

.current-city {
  height: 500px;
  width: calc(65% - 50px);
  // float: right;
  border: solid 1px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: aqua;
  h1 {
    color: aqua;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    align-self: flex-start;
    position: absolute;
    left: 0;
    top: 0;
  }
  p {
    // color: white;
    font-size: x-large;
    justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#uvi{
  font-size: x-large;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
