.sunny{
    background-color: yellow;
}

.cloudy{
    background-color: gray;
}

.rain{
    background-color: grey;
}

.lowuvi {
    color: green;
}

.meduvi {
    color: yellow;
}

.moderateuvi {
    color: orange;
}

.highuvi{
    color: red;
}

.yougonnadie{
    color: purple;
}