@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap";
.ae-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  width: calc(75% - 100px);
  min-height: 600px;
  padding: 10px;
}
@media screen and (max-width: 760px) {
  .ae-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.forecast-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
  height: 100px;
}
.forecast-card h1 {
  color: ivory;
}
.forecast-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.forecast-card__cover p {
  position: absolute;
  bottom: 0;
}
.forecast-card__cover::after {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(122, 116, 116, 0.4) 0%, rgba(239, 232, 232, 0.4) 35%, rgba(240, 228, 228, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.forecast-card:hover .forecast-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}
.forecast-card:hover .forecast-card__cover::after {
  transform: translateY(0%);
}
.forecast-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: black;
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.9);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.forecast-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

.current-h3 {
  position: absolute;
  left: 0;
  bottom: 45%;
}

.current-city {
  height: 500px;
  width: calc(65% - 50px);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: aqua;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.current-city h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-self: flex-start;
  position: absolute;
  left: 0;
  top: 0;
}
.current-city p {
  font-size: x-large;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
}

#uvi {
  font-size: x-large;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

.logo {
  text-decoration: none;
  background: #f6f8f9;
  background: radial-gradient(circle farthest-side at center center, #f6f8f9 0%, #e5ebee 30%, #d7dee3 60%, #f5f7f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.logo:hover {
  text-decoration: none;
  color: rgb(22, 111, 125);
  font-weight: 800;
}

.sidebar {
  display: flex;
  flex-direction: row;
  background-image: url(../img/photos-sky-different-weather-collage-banner-design-photos-sky-different-weather-collage-banner-design-208117046.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: calc(35% - 25px);
  margin-right: 45px;
  margin-left: 10px;
}
.sidebar h4 {
  display: block;
  background: #f6f8f9;
  background: radial-gradient(circle farthest-side at center center, #f6f8f9 0%, #e5ebee 30%, #d7dee3 60%, #f5f7f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#ae-list a {
  text-decoration: none;
  font-size: larger;
  background: #f6f8f9;
  background: radial-gradient(circle farthest-side at center center, #f6f8f9 0%, #e5ebee 30%, #d7dee3 60%, #f5f7f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
  border-bottom: solid white 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}
#ae-list a:hover {
  color: #04d939;
  text-decoration: none;
  border-bottom: #88f2e8 3px;
}

.sunny {
  background-color: yellow;
}

.cloudy {
  background-color: gray;
}

.rain {
  background-color: grey;
}

.lowuvi {
  color: green;
}

.meduvi {
  color: yellow;
}

.moderateuvi {
  color: orange;
}

.highuvi {
  color: red;
}

.yougonnadie {
  color: purple;
}

/* all media queries */
/* at a width of 768px or lower hamburger menu appears and cards become stacked */
@media screen and (max-width: 768px) {
  .current-city {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 879) {
  .current-city {
    width: 100%;
    float: none;
  }
}
body {
  background-color: #000;
}

.ae-head {
  background-image: url(../img/title.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
  padding: 10px;
}
.ae-head h1 {
  background: #00ff00;
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ae-head h4 {
  background: #000000;
  background: linear-gradient(to left, #000000 0%, #ffffff 50%, #000000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#uvi {
  font-size: x-large;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

#futureWeather {
  background: #f6f8f9;
  background: radial-gradient(circle farthest-side at center center, #f6f8f9 0%, #e5ebee 30%, #d7dee3 60%, #f5f7f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
}/*# sourceMappingURL=style.css.map */