@import "./variables";
@import "./cards";
@import "./currentweather";
@import "./sidebar";
@import "./weathers";
@import "./responsive";

body {
  background-color: #000;
}

.ae-head {
  background-image: url(../img/title.jpg);
  height: 400px;
  @include background();
  margin: 10px;
  padding: 10px;
  h1 {
    background: #00ff00;
    background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    background: #000000;
    background: linear-gradient(to left, #000000 0%, #ffffff 50%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#uvi {
  font-size: x-large;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}
#futureWeather {
  @include cardGradient;
  font-weight: 800;
}
